@import "tailwindcss";

:root {
  --bone: #f9f8f7;
  --sand: #d1c7bd;
  --charcoal: #212323;
  --ink: #000000;

  --primary: #2a201a;
  --secondary: #6a5b52;

  --background: #f9f9f9;
}

body {
  background: var(--background);
  color: var(--ink);
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
}

html {
  scroll-behavior: smooth;
}

::selection {
  background: black;
  color: white;
}
